<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ztiany.androidav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAV">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ==================================================== OpenGL ==================================================== -->
        <activity
            android:name=".opengl.OpenGLESActivity"
            android:label="OpenGLES" />
        <activity
            android:name=".opengl.nwglsurv.NativeWithGlsrvMainActivity"
            android:label="GLSurfaceView with Native" />

        <!-- ==================================================== Camera ==================================================== -->
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".camera.camera1.Camera1BackActivity" />

        <!-- ==================================================== Video ==================================================== -->
        <activity
            android:name=".video.VideoActivity"
            android:label="Android Video" />
        <activity
            android:name=".video.h265.livescreen.sender.ScreenSenderActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livescreen.receiver.ScreenReceiverActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livecamera.client.LiveCameraClientActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livecamera.server.LiveCameraServerActivity"
            android:theme="@style/Theme.FullScreen" />

    </application>

</manifest>