<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ztiany.androidav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAV"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ==================================================== OpenGL ==================================================== -->
        <activity
            android:name=".opengl.nwopengl.NativeWithOpenGLMainActivity"
            android:label="GLSurfaceView with Native" />
        <activity
            android:name=".opengl.jwopengl.JavaWithOpenGLMainActivity"
            android:label="OpenGLES with Java" />
        <activity
            android:name=".opengl.jwopengl.JavaWithOpenGLCommonActivity"
            android:label="OpenGLES with Java Common" />
        <activity
            android:name=".opengl.jwopengl.OpenGLCameraPreviewActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".opengl.jwopengl.EGLCameraPreviewWithActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".opengl.jwopengl.OpenGLRecorderActivity"
            android:theme="@style/Theme.FullScreen" />

        <!-- ==================================================== Camera ==================================================== -->
        <activity android:name=".camera.CameraActivity" />
        <activity
            android:name=".camera.camera1.Camera1Activity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".camera.camera2.Camera2PreviewActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".camera.camera2.Camera2EncodingActivity"
            android:theme="@style/Theme.FullScreen" />

        <!-- ==================================================== Codec ==================================================== -->
        <activity
            android:name=".codec.ToolsActivity"
            android:label="Codec" />

        <!-- ==================================================== Video ==================================================== -->
        <activity
            android:name=".audio.AudioActivity"
            android:label="Android Audio" />
        <activity
            android:name=".audio.mediarecord.MediaRecordActivity"
            android:label="Media Record" />
        <activity
            android:name=".audio.audiorecord.AudioRecordActivity"
            android:label="Audio Record" />
        <activity
            android:name=".audio.autiotrack.AudioTrackActivity"
            android:label="Audio Track" />
        <activity
            android:name=".audio.mixing.MixingAudioActivity"
            android:label="Mixing Audio/Video" />
        <!-- ==================================================== Video ==================================================== -->
        <activity
            android:name=".video.VideoActivity"
            android:label="Android Video" />
        <activity
            android:name=".video.h265.livescreen.sender.ScreenSenderActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livescreen.receiver.ScreenReceiverActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livecamera.client.LiveCameraClientActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.h265.livecamera.server.LiveCameraServerActivity"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".video.combine.VideoCombinationActivity"
            android:label="Video Mosaic" />

    </application>

</manifest>